/* Styling the list items */

.container{
  padding-left: 10px;
}
.container ol li,
.container ol li span a{
  padding: 20px 0px;
  font: 700 28px/0px Arial;
  color: #6eaa7e
}

.container ol li span{
  display: flex;
  line-height: 1.5;
  font: 500 20px/30px Arial;
  color: #000;
}

hr{
  width: 22%;
  margin-top: 10px;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: inherit;
}